{% extends 'base.html' %}
{% block title %} Mailbox - {{ address }} {% endblock %}
{% block content %}
    <div>Your mail address is: {{ address }}</div>
    <div>
        <h1>Mailbox</h1>
    {% if mails|length > 0 %}
        You have {{ mails|length }} mail(s):
        {% for mail in mails %}
            <a href="{{ url_for('gui.mail', address=address, token=token, _id=mail['id']) }}">
                <div class="mail">
                    <div>id: {{ mail['id'] }}</div>
                    <div>from: {{ mail['headers']['from'] }}</div>
                    <div>to: {{ mail['headers']['to'] }}</div>
                    <div>subject: {{ mail['headers']['subject'] }}</div>
                    <div>date: {{ mail['headers']['date'] }}</div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <div>Your mailbox is empty</div>
    {% endif %}
    </div>
{% endblock %}