{% extends 'base.html' %}

{% block content %}
    <div class="center-align">
        <div id="timer">
            <div>Remaining time:</div>
            <span id="minute">00</span>:
            <span id="second">00</span>
        </div>
        <div>
            <form method="post">
                <button class="waves-effect waves-light indigo darken-1 btn"
                        type="submit">
                    Add more time
                </button>
            </form>
        </div>
        Your mail address is:
        <a href="mailto:{{ address }}" class="blue-text">{{ address }}</a>
    </div>
    {% block body %} {% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='timer.js') }}"></script>
{% endblock %}