{% extends 'base.html' %}
{% block title %} Send a mail {% endblock %}
{% block content %}
    <form method="post">
        <label for="recipient">Recipient</label>
        <input type="text" id="recipient" name="recipient">
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject">
        <label for="message">Message</label>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
        <input id="send" type="submit" value="Send">
    </form>
{% endblock %}