<!doctype html>
<head>
    <title>
        {% block title %} {% endblock%}
    </title>
    {% block refresh %} {% endblock %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
    <div class="nav-wrapper green">
        <a href="{{ url_for('gui.auth') }}" class="brand-logo center">15 minute mail</a>
    </div>
</nav>

{% block content %}
{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
